<div class="row align-items-center text-lg-start">
  <div class="col-sm-12 col-lg-6">
    <p class="display-3 fw-bold">
      Investissez chez nous et aidez-nous à faire progresser nos affaires
    </p>
  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="row m-3 m-lg-5 p-3 p-lg-5 rounded-5 shadow-lg">
      <div class="col-sm-12 col-md-8 col-lg-9">
        <p class="new-title h1 fw-normal mb-3" style="color: rgb(180, 108, 0)">
          40% par investissement
        </p>
        <p class="new-desc mb-3 mb-lg-5 fs-lg-4 lh-lg-1">
          Nous organisons un système d'investissement, avec minimum de 1$ vous
          pouvez investir chez nous pour un delai minimum de 4 mois
          renouvelable, pour un intérêt mensuel de 10$ soit 40% après 4 mois
        </p>
        <p>
          <button
            class="rounded-3 btn btn-warning p-lg-3 contact-us"
            routerLink="/about"
          >
            Contactez-nous maintenant
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
