<div class="container">
  <div class="row py-4 py-md-5">
    <div class="col-12 col-md-6 about-us-desc">
      <h1>À propos de nous</h1>
      <div class="py-3">
        Yaya est une entreprise créée par Jonathan Payisayo et Danny Ntambwe en
        2019, précisément le 07 décembre 2019.
        <br />
        Yaya est une jeune société venue au secours de nos mamans qui se
        plaignaient sans arrêt du travail qu'exige la cuisson d'un poulet
        fermier( poulet de chair). Avec Yaya, plus question d'acheter un poulet
        au marché, le faire abattre puis le plumer et le dépecer ! Avec Yaya nos
        chers mamans et sœurs achètent des poulets frais déjà abattus, plumer,
        nettoyer et en plus livrer à domicile, tous ses services sont réalisés à
        un bon prix, en plus aucun frais de livraison est demandé !
        <br />
        Depuis septembre 2020, Yaya a commencé l'élevage des porcs de la race
        landrace et largewhite. Toujours dans l'intérêt de nos mamans et Papas
        qui veulent consommer une bonne viande blanche sans gras, nos porcs
        vendus en détails sont débarrassés de la partie grasse !
        <br />
        Sur base de nos 2 élevages ( poules et porcs) nous produisons des
        dérivés de ceux-ci dont de la nourriture pour chien et du fumier pour
        usage agricole !
        <br />
        <p>
          Et depuis août 2021, Yaya organise un système d'investissement simple
          à comprendre et fait avec beaucoup de soins. L'intérêt proposé n'est
          pas pharaonique, comme chez certains mais le sérieux que vous
          recherchez, vous le trouverez chez nous!
          <br />
          Comme dit plus haut ,nous organisons un système d'investissement, avec
          minimum de 1$ vous pouvez investir chez nous pour un delai minimum de
          4 mois renouvelable, pour un intérêt mensuel de 10$ soit 40% après 4
          mois.
          <br />
          Ex : Pour 10$ investit chez Yaya, vous récupérez 4$ d'intérêt plus vos
          10$ investit, ce qui fera un total de 14 $.
          <br />
          NB: Tout investissement a son lot de risque, nous gérons une activité
          une humaine, nous pouvons connaître des pertes ce qui nous amenera à
          vous rencontrer en avance pour revoir notre accord et si nous
          connaissons la faillite, nous serons en devoir de vous rembourser au
          moins les 50% de votre investissement.
          <br />
          * Certains nous critiquerons pour ce NB mais nous avons le devoir de
          vous rappeler les risques encourus pas comme certains escrocs qui
          promettent des intérêts angéliques au noir destin.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 about-us-img">
      <img
        src="./../../../../../assets/img/about_girl.jpeg"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
  <app-contacts></app-contacts>
</div>
