<table mat-table [dataSource]="dataSource"
  matSort matSortActive="date" matSortDirection="asc" matSortDisableClear
  class="mat-elevation-z0 w-100">
  <ng-container matColumnDef="date">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Jour</th>
    <td mat-cell *matCellDef="let element">{{element.date | date: 'dd'}}</td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Titre</th>
    <td mat-cell *matCellDef="let element">{{element.title}}</td>
  </ng-container>
  <ng-container matColumnDef="montant">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Montant</th>
    <td mat-cell *matCellDef="let element">
      {{element.montant}}
      <span *ngIf="!element.isDollar">Fc</span>
      <span *ngIf="element.isDollar">$</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
