<div class="pt-5">
  <h2>Nos produits</h2>
  <div class="row my-5">
    <div class="col-12 col-md-6 col-lg-3 mb-5">
      <div class="img rounded-circle mb-3 col-5 mx-auto">
        <img src="./../../../../../assets/img/poulet.png" width="100%" />
      </div>
      <h5 class="text-center">Poulets</h5>
      <div class="desc mt-2">
        Avec Yaya nos chers mamans et sœurs achètent des poulets frais déjà
        abattus, plumer, nettoyer et en plus livrer à domicile, tous ses
        services sont réalisés à un bon prix, en plus aucun frais de livraison
        est demandé !
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-5">
      <div class="img rounded-circle mb-3 col-5 mx-auto">
        <img src="./../../../../../assets//img/porcs.webp" width="100%" />
      </div>
      <h5 class="text-center">Porcs</h5>
      <div class="desc mt-2">
        Depuis septembre 2020, Yaya a commencé l'élevage des porcs de la race
        landrace et largewhite. Toujours dans l'intérêt de nos mamans et Papas
        qui veulent consommer une bonne viande blanche sans gras, nos porcs
        vendus en détails sont débarrassés de la partie grasse !
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-5">
      <div class="img rounded-circle mb-3 col-5 mx-auto">
        <img src="./../../../../../assets/img/fumiers.jpg" width="100%" />
      </div>
      <h5 class="text-center">Fumiers</h5>
      <div class="desc mt-2">
        Le fumier actuellement disponible est celui du porc, ce sac 50Kg est
        vendu à 3000FC, une tonne soit 20 sacs de 50 KG sont vendus à 50 000FC
        Nb: le client vient chercher personnellement le fumier avec ses sacs de
        50 KG. La manutention sera assurée par Yaya.
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="img rounded-circle mb-3 col-5 mx-auto">
        <img src="./../../../../../assets/img//abatis.jpg" width="100%" />
      </div>
      <h5 class="text-center">Abattis</h5>
      <div class="desc mt-2">
        Nous nous assurons des soins des abbatis. La livraison est rapide et la
        propriété est un facteur important dans notre travail.
      </div>
    </div>
  </div>
</div>
