<div class="container-fluid">
  <nav>
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="/etat-financiers/charges" routerLinkActive="active">Charges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/etat-financiers/produits" routerLinkActive="active">Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/etat-financiers/resultat" routerLinkActive="active">Résultat</a>
      </li>
    </ul>
  </nav>
</div>
