<div>
  <div class="charges-total bg-light rounded-3 p-2 mb-3">
    <div class="text-center">
      <mat-icon class="mat-18">keyboard_arrow_up</mat-icon>
      <p class="fw-bold">{{totalCharges}} fc</p>
    </div>
    <p class="text-center">Charges total</p>
  </div>
  <div class="produits-total bg-dark rounded-3 p-2 mb-3">
    <div class="text-center">
      <mat-icon class="mat-18 text-light">keyboard_arrow_down</mat-icon>
      <p class="fw-bold text-light">{{totalProduits}} fc</p>
    </div>
    <p class="text-light text-center">Produits total</p>
  </div>
</div>
